$chat_side_top_color: #253141;
$chat_side_color: #2f3e51;
$white_color: #fff;
$darkgray_color: #aaa;
$lightgray_color: #ddd;
$chat_member_color: #999;
$buttom_color: #38aef0;
$chat_header_color: #333;
$sign_up_buttom: #ccc;
$error_text_color: #f05050;
$off_white: #fafafa;
