$chat_side_top_color: #253141;
$chat_side_color: #2f3e51;
$text_color_gray: #fff;
$chat_massage_time_color: #aaa;
$chat_footer_color: #ddd;
$chat_member_color: #999;
$buttom_color: #38aef0;
$chat_header_color: #333;
$sign_up_buttom: #ccc;
